body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.formulario {
  max-width: 90%;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.columnas {
  display: flex;
  justify-content: space-between;
}

.columna {
  flex-basis: 45%; /* Ajustar este valor según sea necesario */
}

.pregunta, .respuesta {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* styles.css */

/* Configuración de animación */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Aplicar animación a las preguntas */
.pregunta {
  opacity: 0; /* Ocultar las preguntas al principio */
  animation: fadeIn 1s ease forwards; /* Aplicar la animación fadeIn */
}

/* Espaciado entre las preguntas */
.pregunta + .pregunta {
  margin-top: 20px;
}
