<navbar/>
<form class="formulario" (ngSubmit)="formulario()">
  <h2>Encuesta sobre Experiencia de Usuario en Páginas Web</h2>
  <div class="columnas">
    <div class="columna">
      
        <div class="pregunta">
          <label for="paginas_web">¿Cree que las páginas web mejoran la experiencia con el usuario?</label>
          <select id="paginas_web" name="paginas_web">
            <option value="si">Sí</option>
            <option value="no">No</option>
          </select>
        </div>
        <div class="respuesta">
          <label for="razon_paginas_web">¿Por qué?</label>
          <textarea id="razon_paginas_web" name="razon_paginas_web" rows="4"></textarea>
        </div>
      
    </div>
    <div class="columna">
      
        <div class="pregunta">
          <label for="paginas_animadas">¿Cree que las páginas web animadas captan más la atención del usuario o los distraería más?</label>
          <select id="paginas_animadas" name="paginas_animadas">
            <option value="si">Sí</option>
            <option value="no">No</option>
          </select>
        </div>
        <div class="respuesta">
          <label for="razon_paginas_animadas">¿Por qué?</label>
          <textarea id="razon_paginas_animadas" name="razon_paginas_animadas" rows="4"></textarea>
        </div>
      
    </div>
  </div>
  <div class="columnas">
    <div class="columna">
      
        <div class="pregunta">
          <label for="paginas_explicativas">¿Cree que las páginas web explican mejor las cosas complejas que solo una página de información sin ejemplos ni nada?</label>
          <select id="paginas_explicativas" name="paginas_explicativas">
            <option value="si">Sí</option>
            <option value="no">No</option>
          </select>
        </div>
        <div class="respuesta">
          <label for="razon_paginas_explicativas">¿Por qué?</label>
          <textarea id="razon_paginas_explicativas" name="razon_paginas_explicativas" rows="4"></textarea>
        </div>
      
    </div>
    <div class="columna">
      
        <div class="pregunta">
          <label for="paginas_explicativas">¿Cree que las páginas web animadas tienen mas interactividad con los usuarios?</label>
          <select id="paginas_explicativas" name="paginas_explicativas">
            <option value="si">Sí</option>
            <option value="no">No</option>
          </select>
        </div>
        <div class="respuesta">
          <label for="razon_paginas_explicativas">¿Por qué?</label>
          <textarea id="razon_paginas_explicativas" name="razon_paginas_explicativas" rows="4"></textarea>
        </div>
      
    </div>
  </div>
  <div class="columnas">
    <div class="columna">
      
        <div class="pregunta">
          <label for="paginas_explicativas">¿Cree que las páginas web se diferencian de las páginas web clasicas y contemporaneas?</label>
          <select id="paginas_explicativas" name="paginas_explicativas">
            <option value="si">Sí</option>
            <option value="no">No</option>
          </select>
        </div>
        <div class="respuesta">
          <label for="razon_paginas_explicativas">¿Por qué?</label>
          <textarea id="razon_paginas_explicativas" name="razon_paginas_explicativas" rows="4"></textarea>
        </div>
      
    </div>
    <div class="columna">
      
        <div class="pregunta">
          <label for="paginas_explicativas">¿Crees que las páginas web animadas seran optimas para celulares y navegadores?</label>
          <select id="paginas_explicativas" name="paginas_explicativas">
            <option value="si">Sí</option>
            <option value="no">No</option>
          </select>
        </div>
        <div class="respuesta">
          <label for="razon_paginas_explicativas">¿Por qué?</label>
          <textarea id="razon_paginas_explicativas" name="razon_paginas_explicativas" rows="4"></textarea>
        </div>
        
      
    </div>
  </div>
  <button type="submit">Enviar</button>
</form>