<header class="header" @translateY>
    <div class="container__logo animacion-entrada">
        <a class="logo__a" href="index.html" aria-label="Logo con redireccion a home">
            <img src="/assets/imgs/lenguaje.jpg" class="me-auto" id="logo" />
        </a>
    </div>
    <button class="menu" aria-label="menu" (click)="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
    </button>
    <nav class="navbar">
        <a href="/programacionAnimada" aria-label="link de nosotros">
            <button class="navbar-btn animacion-entrada" aria-label="boton de programacion animada" >
                PROGRAMACIÓN ANIMADA
            </button>
        </a>
        <a href="/ventajas" aria-label="link de servicios">
            <button class="navbar-btn animacion-entrada" aria-label="boton de ventajas" >
                VENTAJAS
            </button>
        </a>
        <a href="/frameworks" aria-label="link de casos de exito">
            <button class="navbar-btn animacion-entrada"  aria-label="boton de frameworks">
                FRAMEWORKS
            </button>
        </a>
        <a href="/tablas" aria-label="link de contacto">
            <button class="navbar-btn animacion-entrada" aria-label="boton de tablas" >
                TABLAS
            </button>
        </a>
        <a href="/respuestaUsuario" aria-label="link de contacto">
            <button class="navbar-btn animacion-entrada" aria-label="boton de respuesta de los usuarios" >
                VER RESPUESTAS
            </button>
        </a>
    </nav>
</header>
<nav class="navbar-2"
    [ngClass]="{ 'navbar--activo' : active }">
    <a href="/programacionAnimada" aria-label="link de nosotros">
        <button class="navbar-btn2" aria-label="boton de programacion animada">
            PROGRAMACIÓN ANIMADA
        </button>
    </a>
    <a href="/ventajas" aria-label="link de servicios">
        <button class="navbar-btn2" aria-label="boton de ventajas">
            VENTAJAS
        </button>
    </a>
    <a href="/frameworks" aria-label="link de casos de exito">
        <button class="navbar-btn2" aria-label="boton de frameworks">
            FRAMEWORKS
        </button>
    </a>
    <a href="/tablas" aria-label="link de contacto">
        <button class="navbar-btn animacion-entrada" aria-label="boton de tablas">
            TABLAS
        </button>
    </a>
    <a href="/respuestaUsuario" aria-label="link de contacto">
        <button class="navbar-btn animacion-entrada" aria-label="boton de respuesta de usuario">
            VER RESPUESTAS
        </button>
    </a>
</nav>