<header class="header" @translateY>
    <div class="container__logo animacion-entrada">
        <a class="logo__a" href="index.html" aria-label="Logo con redireccion a home">
            <img src="/assets/imgs/lenguaje.jpg" class="me-auto" id="logo" />
        </a>
    </div>
    <button class="menu" aria-label="menu" (click)="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
    </button>
    <nav class="navbar">
        <a href="/programacionAnimada" aria-label="link de nosotros">
            <button class="navbar-btn animacion-entrada" aria-label="boton de nosotros" >
                PROGRAMACIÓN ANIMADA
            </button>
        </a>
        <a href="/ventajas" aria-label="link de servicios">
            <button class="navbar-btn animacion-entrada" aria-label="boton de servicios" >
                VENTAJAS
            </button>
        </a>
        <a href="/frameworks" aria-label="link de casos de exito">
            <button class="navbar-btn animacion-entrada"  aria-label="boton casos de exito">
                FRAMEWORKS
            </button>
        </a>
        <a href="/formulario" aria-label="link de contacto">
            <button class="navbar-btn animacion-entrada" aria-label="business contacto" >
                FORMULARIO
            </button>
        </a>
    </nav>
    <div class="profile-icon animacion-entrada">
        <a aria-label="link sin redireccion momentanea">
            <i class="fas fa-user-circle"></i>
        </a>
    </div>
</header>
<nav class="navbar-2"
    [ngClass]="{ 'navbar--activo' : active }">
    <a href="/programacionAnimada" aria-label="link de nosotros">
        <button class="navbar-btn2" aria-label="boton de nosotros">
            PROGRAMACIÓN ANIMADA
        </button>
    </a>
    <a href="/ventajas" aria-label="link de servicios">
        <button class="navbar-btn2" aria-label="boton de servicios">
            VENTAJAS
        </button>
    </a>
    <a href="/frameworks" aria-label="link de casos de exito">
        <button class="navbar-btn2" aria-label="boton de casos de exito">
            FRAMWORKS
        </button>
    </a>
    <a href="/formulario" aria-label="boton de contacto">
        <button class="navbar-btn2" aria-label="boton de contacto">
            FORMULARIO
        </button>
    </a>
</nav>