<navbar/>
<form class="formulario" [formGroup]="respuestaVentajas">
  <h2>Encuesta sobre Experiencia de Usuario en Páginas Web</h2>
  <div class="columnas">
    <div class="columna">
      
        <div class="pregunta">
          <label for="paginas_web">¿Cree que las páginas web mejoran la experiencia con el usuario?</label>
          <p>{{dataRespuesta.experiencia}}</p>
        </div>
        <div class="respuesta">
          <label for="razon_paginas_web">¿Por qué?</label>
          <p>{{dataRespuesta.experienciaRespuesta}}</p>
        </div>
      
    </div>
    <div class="columna">
      
        <div class="pregunta">
          <label for="paginas_animadas">¿Cree que las páginas web animadas captan más la atención del usuario o los distraería más?</label>
          <p>{{dataRespuesta.atencion}}</p>
        </div>
        <div class="respuesta">
          <label for="razon_paginas_animadas">¿Por qué?</label>
          <p>{{dataRespuesta.atencionRespuesta}}</p>
        </div>
      
    </div>
  </div>
  <div class="columnas">
    <div class="columna">
      
        <div class="pregunta">
          <label for="paginas_explicativas">¿Cree que las páginas web explican mejor las cosas complejas que solo una página de información sin ejemplos ni nada?</label>
          <p>{{dataRespuesta.complejas}}</p>
        </div>
        <div class="respuesta">
          <label for="razon_paginas_explicativas">¿Por qué?</label>
          <p>{{dataRespuesta.complejasRespuesta}}</p>
        </div>
      
    </div>
    <div class="columna">
      
        <div class="pregunta">
          <label for="paginas_explicativas">¿Cree que las páginas web animadas tienen mas interactividad con los usuarios?</label>
          <p>{{dataRespuesta.interactividad}}</p>
        </div>
        <div class="respuesta">
          <label for="razon_paginas_explicativas">¿Por qué?</label>
          <p>{{dataRespuesta.interactividadRespuesta}}</p>
        </div>
      
    </div>
  </div>
  <div class="columnas">
    <div class="columna">
      
        <div class="pregunta">
          <label for="paginas_explicativas">¿Cree que las páginas web se diferencian de las páginas web clasicas y contemporaneas?</label>
          <p>{{dataRespuesta.clasicas}}</p>
        </div>
        <div class="respuesta">
          <label for="razon_paginas_explicativas">¿Por qué?</label>
          <p>{{dataRespuesta.clasicasRespuesta}}</p>
        </div>
      
    </div>
    <div class="columna">
      
        <div class="pregunta">
          <label for="paginas_explicativas">¿Crees que las páginas web animadas seran optimas para celulares y navegadores?</label>
          <p>{{dataRespuesta.optimas}}</p>
        </div>
        <div class="respuesta">
          <label for="razon_paginas_explicativas">¿Por qué?</label>
          <p>{{dataRespuesta.optimasRespuesta}}</p>
        </div>
        
      
    </div>
  </div>
  <a (click)="goBack()" class="buttons__a">
    <button>Regresar</button>
</a>
</form>