<form [formGroup]="datosPersonaForm" (ngSubmit)="guardarDatos()">
  <input type="text" formControlName="nombre" placeholder="Nombre" autocomplete="off" required>
  <input type="text" formControlName="apellido" placeholder="Apellido" autocomplete="off" required>
  <input type="number" formControlName="edad" placeholder="Edad" required>
  <input type="text" formControlName="ciudad" placeholder="Ciudad" autocomplete="off" required>
  <button type="submit">Guardar</button>
  <!-- <div *ngIf="guardadoExitoso" class="success-message">
    ¡Los datos se guardaron correctamente!
  </div> -->
</form>
