.content {
    margin-top: 15px;
    background-size: cover;
    padding: 40px;
    text-align: center;
}
h1{
  font-size: 36px;
    text-align: center;
    color: black;
    margin-bottom: 40px;
}
.texto{
    text-align: center;
    font-weight: bold;
    color: black;
}
p{
    margin-bottom: 40px;
}
  .fade-in-text {
    opacity: 0;
    font-weight: bold;
    animation: fadeIn 6s forwards;
    color: black;
    text-align: center;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
  }
  
  .img {
    margin-top: 50px;
  }
  .aparecer{
    animation: appear 1s ease-in;
  }
  /* animacion */
  @keyframes appear {
    from{
      opacity: 0;
    }
    to{
      width: 1;
    }
  }
  
  @keyframes desaparecer {
    from{
      opacity: 1;
    }
    to{
      opacity: 0;
  
    }
  }
  
  #imagen {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    cursor: pointer;
    /* display: inline-block;
    position: relative; */
    transition: transform 0.3s ease;
  }
  
  #imagen:hover {
    transform: scale(1.1);
  }

  .arrow-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: url('https://www.w3.org/TR/SVG2/arrow.svg') no-repeat center;
    background-size: contain;
    animation: arrowClick 1s infinite alternate;
    animation: appear 1s ease-in;
  }
  
@keyframes arrowClick {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}