<navbar/>
<div class="content">
    <h1>EXPLORANDO LA MAGIA DE LAS PÁGINAS WEB ANIMADAS</h1>
    <div class="fade-in-text">
        <p>Las páginas web animadas son como lienzos digitales que cobran vida con cada movimiento del cursor y cada clic del usuario.</p>
        <p>Son la manifestación de la creatividad en la era digital, donde las imágenes, colores y formas se entrelazan en un baile armonioso para cautivar y deleitar a los espectadores.</p>
    </div>
    <div class="img aparecer">
        <img src="/assets/imgs/baile.gif" alt="Baile" id="imagen" (click)="redireccionar()">
        <div class="arrow-animation"></div>
    </div>
</div>