<navbar/>
<div class="content">
    <h1>EXPLORANDO LA MAGIA DE LAS PÁGINAS WEB ANIMADAS</h1>
    <div class="fade-in-text">
        <p>Las páginas web animadas son como lienzos digitales que cobran vida con cada movimiento del cursor y cada clic del usuario.</p>
        <p>Son la manifestación de la creatividad en la era digital, donde las imágenes, colores y formas se entrelazan en un baile armonioso para cautivar y deleitar a los espectadores.</p>
    </div>
    <div class="img">
        <img src="/assets/imgs/baile.gif" alt="Baile" id="imagen" onclick="showText()">
    </div>
    <!-- <div id="text-container">
        <p id="texto">Pero es en el reino de CSS donde la magia realmente cobra vida.</p> 
        <p>Desde animaciones simples como desplazamientos y transformaciones hasta complejas coreografías de elementos en movimiento, CSS nos brinda las herramientas para crear experiencias visuales que despiertan los sentidos y desafían la imaginación.</p>
        <p>Con sus reglas de estilo y propiedades dinámicas, CSS nos permite vestir nuestras páginas con los trajes más elegantes y extravagantes.</p>
        <p>En un mundo donde la atención es un bien preciado, las páginas web animadas son faros brillantes que guían a los navegantes a través del vasto océano de la información en línea. Son destellos de inspiración y momentos de asombro en un mar de contenido estático y monótono. Son testamentos de la capacidad humana para crear belleza y deleitar a los sentidos, incluso en el frío y binario mundo de la tecnología.</p>
    </div> -->
</div>