<div class="container">
    <div class="contenedor">
        <div class="titulo">
            <h1>BIENVENIDOS AL PROYECTO DE ANIMACIONES POR MEDIO DE HTML, CSS Y JAVASCRIPT</h1>
        </div>
        <!-------------------------- Texto de la pagina ------------------->
        <div class="contenedor1">
            <p>TEXTOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
            </p>
        </div>
        <!-------------------------- Iamgen --------------------->
        <div class="imagenMov">
        </div>
    </div>
</div>